* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}


body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

a {
  color: grey;
  transition: all 300ms;
  &:hover {
    color: grayscale($color: purple);
  }
}

footer {
  background-color: orange;
}


