@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

// pisar las variables de bootstrap primero ante de importarlo 
$white:#f2f2f2;
$black:#262424;
$orange:#D3B347;

$body-bg:$white;
$body-color:$black;

$primary: $orange;
$navbar-light-color:$black;
$link-color: $body-color;



// Importacion de  Bootstrap y variables por defecto 
@import '../../node_modules/bootstrap/scss/bootstrap';



