.card {
    height: 100%;
}

.card-img-col {
    height: 200px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    &:hover {
        background-size: 120%;
    }
  }
