.inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../img/pareja.jpg);
  background-size: cover;
	background-position: center center;
	height: 100vh;
}

@media (max-width: 767px) {
  .inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../img/mob.jpg);
  background-size: cover;
	background-position: center;
	max-height: 90vh;
}
}
